@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
.description {
    display: none;
    font-style: italic;
    color: white;
    text-align: center;
}
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header h2 {
    margin-right: 1rem;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem; /* Reduced margin */
}
.about-text {
    flex: 2;
    margin-right: 2rem;
}
.about-text h3 {
    margin-top: 1.5rem;
}
.about-image {
    flex: 1;
    max-width: 400px;
}
.about-image img {
    width: 100%;
    height: auto;
    display: block;
}
.centered-image {
    text-align: center;
    margin: 1rem 0;
}
.centered-image img {
    max-width: 80%;
    transform: scale(1.05);
}
.full-width-image {
    text-align: center;
    margin: 1rem 0; /* Reduced margin */
}
.full-width-image img {
    width: 100%;
    max-width: 100%;
}
.tabs {
    text-align: center;
    margin: 1rem 0; /* Reduced margin */
}
.tablinks {
    background-color: #e7e7e7;
    border: none;
    color: #333;
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.tablinks:hover {
    background-color: #ddd;
}
.tabcontent {
    display: none;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
}
.tabcontent h3 {
    margin-top: 0;
}
.portfolio-item, .personal-project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.portfolio-item button, .personal-project-item button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}
.portfolio-item button:hover, .personal-project-item button:hover {
    background-color: #444;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #222;
    color: white;
}
